---


**Machine Learning**

**Mohsen Iranmanesh**

**98155002**


---

# Part 1

**First of all, we import data to get an insight**

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

df = pd.read_excel('ToyotaCorolla.xls', sheet_name='data')
df.head()

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,0,0,0,1,0,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,1,0,0,0,1,0,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,0,1,0,1,0,0,0,0

---

**Now we check the features and type of each one**

---

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 39 columns):
Id                   1436 non-null int64
Model                1436 non-null object
Price                1436 non-null int64
Age_08_04            1436 non-null int64
Mfg_Month            1436 non-null int64
Mfg_Year             1436 non-null int64
KM                   1436 non-null int64
Fuel_Type            1436 non-null object
HP                   1436 non-null int64
Met_Color            1436 non-null int64
Color                1436 non-null object
Automatic            1436 non-null int64
CC                   1436 non-null int64
Doors                1436 non-null int64
Cylinders            1436 non-null int64
Gears                1436 non-null int64
Quarterly_Tax        1436 non-null int64
Weight               1436 non-null int64
Mfr_Guarantee        1436 non-null int64
BOVAG_Guarantee      1436 non-null int64
Guarantee_Period     1436 non-null int64
ABS                  1436 non-null int64
Airbag_1             1436 non-null int64
Airbag_2             1436 non-null int64
Airco                1436 non-null int64
Automatic_airco      1436 non-null int64
Boardcomputer        1436 non-null int64
CD_Player            1436 non-null int64
Central_Lock         1436 non-null int64
Powered_Windows      1436 non-null int64
Power_Steering       1436 non-null int64
Radio                1436 non-null int64
Mistlamps            1436 non-null int64
Sport_Model          1436 non-null int64
Backseat_Divider     1436 non-null int64
Metallic_Rim         1436 non-null int64
Radio_cassette       1436 non-null int64
Parking_Assistant    1436 non-null int64
Tow_Bar              1436 non-null int64
dtypes: int64(36), object(3)
memory usage: 437.7+ KB

---

**As we can see, "Model", "Fuel_Type" and "Color" are categorical features.
So we will change their types in the DataFrame**

---

In [3]:
df['Fuel_Type'] = df['Fuel_Type'].astype('category')
df['Color'] = df['Color'].astype('category')

display(df['Fuel_Type'])
print("-----------------")
display(df['Color']) 
print("-----------------")

df.info()

0       Diesel
1       Diesel
2       Diesel
3       Diesel
4       Diesel
         ...
1431    Petrol
1432    Petrol
1433    Petrol
1434    Petrol
1435    Petrol
Name: Fuel_Type, Length: 1436, dtype: category
Categories (3, object): [CNG, Diesel, Petrol]

-----------------

0         Blue
1       Silver
2         Blue
3        Black
4        Black
         ...
1431      Blue
1432      Grey
1433      Blue
1434      Grey
1435     Green
Name: Color, Length: 1436, dtype: category
Categories (10, object): [Beige, Black, Blue, Green, ..., Silver, Violet, White, Yellow]

-----------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 39 columns):
Id                   1436 non-null int64
Model                1436 non-null object
Price                1436 non-null int64
Age_08_04            1436 non-null int64
Mfg_Month            1436 non-null int64
Mfg_Year             1436 non-null int64
KM                   1436 non-null int64
Fuel_Type            1436 non-null category
HP                   1436 non-null int64
Met_Color            1436 non-null int64
Color                1436 non-null category
Automatic            1436 non-null int64
CC                   1436 non-null int64
Doors                1436 non-null int64
Cylinders            1436 non-null int64
Gears                1436 non-null int64
Quarterly_Tax        1436 non-null int64
Weight               1436 non-null int64
Mfr_Guarantee        1436 non-null int64
BOVAG_Guarantee      1436 non-null int64
Guarantee_Period     1436 non-null int64
ABS                  1436 non-null int64
Airbag_1             1436 non-null int64
Airbag_2             1436 non-null int64
Airco                1436 non-null int64
Automatic_airco      1436 non-null int64
Boardcomputer        1436 non-null int64
CD_Player            1436 non-null int64
Central_Lock         1436 non-null int64
Powered_Windows      1436 non-null int64
Power_Steering       1436 non-null int64
Radio                1436 non-null int64
Mistlamps            1436 non-null int64
Sport_Model          1436 non-null int64
Backseat_Divider     1436 non-null int64
Metallic_Rim         1436 non-null int64
Radio_cassette       1436 non-null int64
Parking_Assistant    1436 non-null int64
Tow_Bar              1436 non-null int64
dtypes: category(2), int64(36), object(1)
memory usage: 418.5+ KB

---

**Now we will drop "Id" and "Model" features, and perform a One Hot Encoding on "Color" and "Fuel_Type" features.**

---

In [4]:
from sklearn.preprocessing import OneHotEncoder

y = df['Price']
X = df.drop(columns=['Price', 'Id', 'Model'])

encoder = OneHotEncoder(handle_unknown='ignore')
X = pd.get_dummies(X, columns=['Color', 'Fuel_Type'], prefix=['Color_', 'Fuel_'] )
X_columns = X.columns
X.head()

,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,CC,Doors,Cylinders,...,Color__Green,Color__Grey,Color__Red,Color__Silver,Color__Violet,Color__White,Color__Yellow,Fuel__CNG,Fuel__Diesel,Fuel__Petrol
0,23,10,2002,46986,90,1,0,2000,3,4,...,0,0,0,0,0,0,0,0,1,0
1,23,10,2002,72937,90,1,0,2000,3,4,...,0,0,0,1,0,0,0,0,1,0
2,24,9,2002,41711,90,1,0,2000,3,4,...,0,0,0,0,0,0,0,0,1,0
3,26,7,2002,48000,90,0,0,2000,3,4,...,0,0,0,0,0,0,0,0,1,0
4,30,3,2002,38500,90,0,0,2000,3,4,...,0,0,0,0,0,0,0,0,1,0

---

**And in the final data manipulation step, we will normalize features and classes with a MinMax Scalar.**

---

In [5]:
from sklearn.preprocessing import MinMaxScaler

scaler_x = MinMaxScaler()
scaler_x.fit(X)
X = scaler_x.transform(X)

y = y.values.reshape(-1, 1)
scaler_y = MinMaxScaler()
scaler_y.fit_transform(y)
y = scaler_y.transform(y)

X = pd.DataFrame(X, columns=X_columns)

---

**Now let's split the data into 3 parts, 70% for training, 15% for validation and 15% for test.**

---

In [6]:
from sklearn.model_selection import train_test_split 

X_train, X_validation, y_train, y_validation = train_test_split(X, y, test_size=0.3)
X_validation, X_test, y_validation, y_test = train_test_split(X_validation, y_validation, test_size=0.5)

display(X_train)
display(y_train)

,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,CC,Doors,Cylinders,...,Color__Green,Color__Grey,Color__Red,Color__Silver,Color__Violet,Color__White,Color__Yellow,Fuel__CNG,Fuel__Diesel,Fuel__Petrol
138,0.126582,0.818182,0.833333,0.102877,0.382114,1.0,0.0,0.047619,1.000000,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
116,0.088608,0.000000,1.000000,0.044609,0.170732,1.0,0.0,0.047619,1.000000,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
59,0.367089,0.181818,0.666667,0.160285,0.333333,1.0,0.0,0.020408,1.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
904,0.759494,0.636364,0.166667,0.242795,0.333333,1.0,0.0,0.020408,1.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1270,0.974684,0.181818,0.000000,0.308335,0.333333,1.0,0.0,0.020408,1.000000,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,0.797468,0.363636,0.166667,0.340421,0.138211,0.0,0.0,0.000000,0.333333,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
237,0.430380,0.818182,0.500000,0.244853,0.000000,1.0,0.0,0.040816,0.333333,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
500,0.632911,0.454545,0.333333,0.237219,0.333333,0.0,0.0,0.020408,1.000000,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1345,0.962025,0.272727,0.000000,0.253692,0.333333,1.0,0.0,0.020408,1.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
478,0.670886,0.181818,0.333333,0.259812,0.333333,1.0,0.0,0.020408,0.333333,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

array([[0.6625222 ],
       [0.62522202],
       [0.41381883],
       ...,
       [0.19005329],
       [0.13854352],
       [0.21847247]])

---

**Here we will generate our linear regression model with the help of sci-kit learn.
And we will predict the test data with the model.**

---

In [7]:
from sklearn.linear_model import LinearRegression

regression = LinearRegression().fit(X_train, y_train)
predicted = regression.predict(X_test)

---

**Finally, we will calculate the performance metrics for the model on the data.**

---

In [8]:
mean_squared_error = np.mean(np.power((y_test - predicted), 2))
root_mean_squared_error = np.sqrt(mean_squared_error)
mean_absolute_error = np.mean(np.abs(y_test - predicted))

print("MSE (Mean Squared Error) = ", mean_squared_error)
print("RMSE (Root Mean Squared Error) = ",root_mean_squared_error)
print("MAE (Mean Absolute Error) = ", mean_absolute_error)

MSE (Mean Squared Error) =  0.021494978228831656
RMSE (Root Mean Squared Error) =  0.1466116578885583
MAE (Mean Absolute Error) =  0.03518985420298822

---

## Accuracy (Toyota Dataset)

### MSE (Mean Squared Error) =  0.0015140205183283933
### RMSE (Root Mean Squared Error) =  0.03891041657870541
### MAE (Mean Absolute Error) =  0.02941729708271868

---

# Part 2

**We do all the steps again (Except one hot encoding, because there is no categorical data in this dataset)**

In [9]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

df = pd.read_csv('Regression.csv')
df.head()

y = df['Chance of Admit ']
X = df.drop(columns=['Chance of Admit ', 'Serial No.'])

scaler_x = MinMaxScaler()
scaler_x.fit(X)
X = scaler_x.transform(X)

y = y.values.reshape(-1, 1)
scaler_y = MinMaxScaler()
scaler_y.fit_transform(y)
y = scaler_y.transform(y)

X_train, X_validation, y_train, y_validation = train_test_split(X, y, test_size=0.3)
X_validation, X_test, y_validation, y_test = train_test_split(X_validation, y_validation, test_size=0.5)

regression = LinearRegression().fit(X_train, y_train)
predicted = regression.predict(X_test)

mean_squared_error = np.mean(np.power((y_test - predicted), 2))
root_mean_squared_error = np.sqrt(mean_squared_error)
mean_absolute_error = np.mean(np.abs(y_test - predicted))

print("MSE (Mean Squared Error) = ", mean_squared_error)
print("RMSE (Root Mean Squared Error) = ",root_mean_squared_error)
print("MAE (Mean Absolute Error) = ", mean_absolute_error)

MSE (Mean Squared Error) =  0.007562581839562261
RMSE (Root Mean Squared Error) =  0.08696310619775642
MAE (Mean Absolute Error) =  0.06544905280104338

---

## Accuracy (Student Chance Dataset)

### MSE (Mean Squared Error) =  0.008418063292323244
### RMSE (Root Mean Squared Error) =  0.09175000431783774
### MAE (Mean Absolute Error) =  0.06895701897384861

---